<nav class="navb" *ngIf="displayMenu">
    <ul>
      <li><a routerLink="home" class="navlink">Home</a></li>
      <li *ngIf="displayManager"><a routerLink="listStaff">Staff</a></li>
      <li *ngIf="displayManager"><a routerLink="listproducts">Food Products</a></li>
      <li *ngIf="displayManager"><a routerLink="listmenu">Menu</a></li>
      <li *ngIf="displayStaff"><a routerLink="listorders">Orders</a></li>
      <li *ngIf="displayStaff"><a routerLink="createOrder">Create Order</a></li>
      <li style="float: right;"><button (click)="logout()">Logout</button></li>
    </ul>
</nav>