
  <nav class="navbar navbar-expand-lg navbar-light bg-light" *ngIf="displayMenu">
  <a class="navbar-brand" href="#">foodapp</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a routerLink="home" class="nav-link" href="#">Home</a>
        </li>
        <li class="nav-item" *ngIf="displayManager">
          <a routerLink="listStaff" class="nav-link" href="#">Staff</a>
        </li>
        
        <li class="nav-item" *ngIf="displayManager">
          <a routerLink="listproducts" class="nav-link" href="#">Food Products</a>
        </li>
        <li class="nav-item" *ngIf="displayManager">
          <a routerLink="listmenu" class="nav-link" href="#">Menu</a>
        </li>
        <li class="nav-item" *ngIf="displayStaff">
          <a routerLink="listorders" class="nav-link" href="#">Orders</a>
        </li>
        <li class="nav-item" *ngIf="displayStaff">
          <a routerLink="createOrder" class="nav-link" href="#">Create Order</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <button class="btn btn-primary" (click)="logout()">Logout</button>
      </form>
    </div>

 
</nav>
<router-outlet></router-outlet>
