*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}

/* .mainblock{
    height: 100ch;
    width: 100%;
    background-image: url("../../assets/images/loginbg4.jpg");
    background-size: cover;
} */